.App{
  max-width: 600px;
  margin: 80px auto 0;
  font-family: "Montserrat Alternates";
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
.title{
  font-size: 3rem;
  text-align: center;
}
.slideContainer{
  max-width: 100%;
  min-width: 250px;
  margin: 20px auto 20px;
  text-align: center;
}
.slider {
  background: linear-gradient(to right, #EB1D36 0%, #EB1D36 30%, #fff 30%, #fff 100%);
  border: 2px solid #eeeeee;
  border-radius: 8px;
  height: 10px;
  min-width: 250px;
  width: 80%;
  outline: none;
  transition: background 450ms ease-in;
  accent-color: #F9F2ED;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  /* border: 1px solid  rgba(0, 0, 0, 0.6); */
  border-radius: 50%;
  background: #EB1D36;
  cursor: pointer;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.inputContainer{
  max-width: 100%;
  min-width: 300px;
}
.inputContainer>h1{
  width: 130px;
  display: inline-block;
}
.manualInput{
  padding: 7px;
  font-size: 1.5rem;
}
.password{
  text-overflow:clip;
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding: 8px;
  min-height: 2rem;
  border-radius: 10px;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
  font-size: 1.5rem;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.buttons{
  width: 150px;
  margin: 0 auto;
}
.buttons button{
  cursor: pointer;
  border: solid 2px #EB1D36;
  background-color: transparent;
  font-size: 2rem;
  padding: 3px;
  transition: ease-in 0.2s;
  border-radius: 8px;
  margin: 0 10px;
}
.buttons button:hover{
  background-color: #EB1D36;
  color: white;
}
.strength{
  text-align: center;
  color: brown;
}